APP_SERVICE="app"
APP_URL=""
CANARY_TOOLS="{{ slots.canary_tools | join(' ') }}"
MONGO_URL="mongodb://mongo:27017/{{ slots.get('mongo_db_name', 'validation') }}"
HEALTH_TIMEOUT_SECONDS="120"
HEALTH_POLL_INTERVAL_SECONDS="2"
TAIL_LINES="60"
CUSTOM_TESTS_JSON='{{ manifest.get("custom_tests", []) | tojson }}'
SKIP_TESTS_JSON='{{ manifest.get("skip_tests", []) | tojson }}'
CUSTOM_TESTS="{{ manifest.get('custom_tests', []) | join(' && ') }}"
SKIP_TESTS="{{ manifest.get('skip_tests', []) | join(' ') }}"
VALIDATION_TEST_USERNAME="validation-user"
VALIDATION_TEST_PASSWORD="validation-password"
VALIDATION_TEST_API_KEY="validation-api-key"
