{%- set env_overrides = manifest.get('env_overrides', {}) or {} -%}
APP_SERVICE="app"
APP_URL=""
CANARY_TOOLS="{{ slots.canary_tools | join(' ') | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '\\$') | replace('`', '\\`') | replace('\r', '\\r') | replace('\n', '\\n') }}"
HEALTH_TIMEOUT_SECONDS="120"
HEALTH_POLL_INTERVAL_SECONDS="2"
TAIL_LINES="60"
CUSTOM_TESTS_JSON={{ manifest.get('custom_tests', []) | tojson }}
SKIP_TESTS_JSON={{ manifest.get('skip_tests', []) | tojson }}
VALIDATION_TEST_USERNAME="validation-user"
VALIDATION_TEST_PASSWORD="validation-password"
VALIDATION_TEST_API_KEY="validation-api-key"
{%- for key, value in env_overrides | dictsort %}
{{ key }}="{{ value | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '\\$') | replace('`', '\\`') | replace('\r', '\\r') | replace('\n', '\\n') }}"
{%- endfor %}
